
/*** Socket style -----------------------
****/
.connected {
    font-weight: normal;
    font-size: 16px;
    color: #999;
    
}
.chat-time {
    font-weight: bold;
    margin-right: 20px;
}
.debug-wrapper input, .debug-wrapper > div {
    display: none;
}
.debug-wrapper label h3:before{
    content: '[+]';
}
.debug-wrapper > #check:checked ~ label h3:before{
    content: '[-]';
}
#check:checked ~ .debug {
display: block;

}
