{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Available demos</h1>
    <ul id="demo-list">
        <li><a href="{{ path('_demo_room')}}">Chat room</a></li>
        <li><a href="{{ path('_demo_socket')}}">Basic websockets</a></li>
    </ul>
{% endblock %}
